#title {
  background-color: #fff2e5;
}

#second {
  padding: 5% 7%;
}

#testimonial {
  padding-top: 5%;
  padding-bottom: 2%;
  border: 10px 20px 10px 20px;
  font-family: 'Comic Neue', cursive;

}

#standards {

  font-family: "Garamond", serif;

  padding: 5% 7%;
}

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2  {
  font-size: 1.5rem;
  color: #9c5518;
  font-family: 'EB Garamond', serif;
  margin-top: 0;
  padding-bottom: 10px
}


h6 {
  font-family: 'Caveat', cursive;
}

hr {
  background-color: white;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  height: 2px;
  width: 5%;
  margin: 30px auto;
}



.logo{

  width: 15%;
  border-radius: 50%;
}

.cafe-pic {
  width: 35%;
}

.row {
  text-align: center;
  padding: 20px 10px;
}

.container-fluid {
  position: relative;
  margin: 50px auto;

}

.text-center {
  padding-bottom: 20px;
}

.menu-button{

margin: 0 3% 0 0;

}

.book-button{

margin: 0 0 0 3%;

}


.food-serve{
  width: 100%;
  margin-left: 20px;
}

.food-text {
  padding-top: 20%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
}

.food-text2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;

}


.image-standard{

  width: 300px;
  height: 200px;
  margin: 10px auto;
}

.testimonial-image {
  margin: 0 2% 10% 35%;
  width: 30%;
  height: 25%;

}




.contact-me {
text-align: center;

}



.contact-message {
  width: 40%;
  margin: 40px auto;
}

.copyright {

  color: #3b6978;
  font-size: 0.75rem;
  padding: 10px 0px;
}


.footer-link {
  width: 5%;
  text-align: center;
}

.skill-row {

width: 70%;
margin: 50px auto;
text-align: left;
line-height: 2;
}

.bottom-container {
  background-color: #fff2e5;
  margin: 10px auto;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;

}
