#title {
  background-color: #fff2e5;
}

#second {
  padding: 5% 7%;
}

#testimonial {
  padding-top: 5%;
  padding-bottom: 2%;
  border: 10px 20px 10px 20px;
  font-family: 'Comic Neue', cursive;

}

#standards {

  font-family: "Garamond", serif;

  padding: 5% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h6 {
  font-family: 'Caveat', cursive;
}

.logo{

  width: 15%;
  border-radius: 50%;
}

.cafe-pic {
  width: 35%;
}

.row {
  text-align: center;
  padding: 20px 10px;
}

.container-fluid {
  position: relative;
  margin: 50px auto;

}

.text-center {
  padding-bottom: 20px;
}

.menu-button{

margin: 0 3% 0 0;

}

.book-button{

margin: 0 0 0 3%;

}


.food-serve{
  width: 100%;
  margin-left: 20px;
}

.food-text {
  padding-top: 20%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
}

.food-text2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;

}


.image-standard{

  width: 300px;
  height: 200px;
  margin: 10px auto;
}

.testimonial-image {
  margin: 0 5% 10% 35%;
  width: 30%;
  height: 15%;

}


.bottom-container {
  background-color: #fff2e5;
  margin: 10px auto;
  padding-top: 40px;
  padding-bottom: 20px;

}

.footer-link {
  width: 5%;
}
